#app {
  .layout {
    // display: flex;
    height: 100%;
    .sidebar-container {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 210px;
      height: 100%;
      background-color: #3a3f51;
      transition: width 0.28s;
      overflow: hidden;
      font-size: 0px;
      z-index: 1001;
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      }
      .scrollbar-wrapper {
        height: calc(100% + 15px);
        .el-scrollbar__view {
          height: 100%;
        }
      }
      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
    }
    .app-container {
      // width: 100%;
      min-height: 100%;
      background-color: #f0f0f0;
      transition: margin-left .28s;
      margin-left: 210px;
    }
    &.hideSidebar {
      .sidebar-container {
        width: 36px !important;
      }
      .app-container {
        margin-left: 36px !important;
      }
      .el-tooltip {
        padding: 0 5px !important;
      }
      .el-submenu {
        overflow: hidden;
        &>.el-submenu__title {
          padding-left: 5px !important;
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  // 适配移动端
  .mobile {
    .app-container {
      margin-left: 0px !important;
    }
    .slidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
      .app-container {
        margin-left: 0px !important;
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
